<div class="container">
    <h1 class="mb-0 mt-5">{{blog.title}}</h1>
    <h6 class="text-muted">Author: {{blog.author}}</h6>
    
    <p class="text-muted">category: {{blog.category}}</p>
    
    <p class="m-0">CreatedAt: <small class="text-muted">{{blog.createdAt}}</small></p>
    <p>UpdatedAt: <small class="text-muted">{{blog.updatedAt}}</small></p>
    
    <p>{{blog.description}}</p>
</div>